@import 'styles';

.form {
  :global {
    .ant-select .ant-select-selector {
      font-size: var(--font-size-md);
      padding: calc(2 * var(--space-1)) var(--space-4);
      border-radius: var(--rounded);
      background: var(--cl-blue-6);
      border-color: var(--cl-blue-5);
      font-weight: var(--font-light);
      height: auto;
    }

    .ant-form-item-label {
      font-weight: 700;
    }
  }
}

.tourTypeSwitcher {
  width: 100%;

  :global {
    .ant-radio-button-wrapper {
      width: 50%;
      text-align: center;
      font-weight: 700;

      &:hover {
        background-color: var(--cl-gray-5);
      }
    }

    .ant-radio-button-wrapper:first-child {
      border-radius: 4px 0 0 4px;
    }

    .ant-radio-button-wrapper:last-child {
      border-radius: 0 4px 4px 0;
    }

    .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']) {
      background-color: var(--cl-blue-3);
      color: var(--cl-gray-11);

      span {
        font-weight: 700;
      }
    }
  }
}

.input {
  color: var(--cl-gray-11);
}

.btnSubmit {
  width: 100%;
  height: 44px;
  font-size: var(--font-size-md);
  font-weight: 700;
}

.extraInfo {
  font-size: var(--font-size-sm);
  padding-top: var(--space-4);
  color: var(--cl-gray-7);
}
