.root {
  &:global(.ant-input) {
    font-size: var(--font-size-md);
    padding: calc(2 * var(--space-1)) var(--space-4);
    border-radius: var(--rounded);
    background: var(--cl-blue-6);
    border-color: var(--cl-blue-5);
    font-weight: var(--font-light);
  }
}
