@import 'styles';

.root {
  position: absolute;
  transform: translate(calc(-100% - var(--space-2)), calc(-100% - var(--space-2)));

  &.isGreen {
    .rating {
      background-color: var(--cl-green-2);
    }

    .name {
      color: var(--cl-green-2);
    }
  }
}

.popup {
  padding: var(--space-1);
  display: flex;
  gap: var(--space-2);

  box-shadow: rgb(59 65 68 / 18%) 0px 8px 16px 0px;
  background-color: var(--cl-white);
  border-radius: 8px;
  width: 280px;
}

.rating {
  @extend %flex-center;

  font-size: var(--font-size-sm);
  background-color: var(--cl-blue-2);
  border-radius: 8px;
  color: var(--cl-white);
  padding: var(--space-2);
  min-width: 80px;

  b {
    font-weight: 700;
    font-size: var(--font-size-xl);
  }
}


.name {
  color: var(--cl-blue-2);
  font-weight: 700;
  font-size: var(--font-size-sm);
  margin-bottom: var(--space-1);
}

.action {
  border: 0;
  background-color: transparent;
  font-size: var(--font-size-base);
  margin-left: auto;
}
