@import 'styles';

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  &.isOnDraw {
    .drawMode {
      display: flex;
    }

    .mapOverlay {
      opacity: 0.5;

      button {
        pointer-events: none;
      }
    }
  }
}

.drawMode {
  color: var(--cl-white);
  display: none;
  background-color: var(--cl-white);
  justify-content: space-between;
  pointer-events: auto;
  position: relative;
  line-height: 50px;

  @include mediaquery-pc() {
    background-color: rgba(68, 68, 68, 0.7);
  }

  p {
    display: none;
    margin: 0;
    margin-left: 16px;

    @include mediaquery-pc() {
      display: block;
    }
  }
}

.drawBtnGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mediaquery-pc() {
    display: unset;
    width: auto;
  }

  span {
    color: var(--cl-black);

    @include mediaquery-pc() {
      display: none;
    }
  }

  button {
    color: var(--cl-blue-1);
    background-color: transparent;
    border: 0;
    padding: 0 16px;

    @include mediaquery-pc() {
      color: var(--cl-white);
    }

    &:hover {
      background-color: transparent;

      @include mediaquery-pc() {
        background-color: var(--cl-blue-8);
      }
    }
  }
}

.mapOverlay {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 24px;

  :global .ant-btn {
    pointer-events: auto;
    font-weight: 700;
  }
}

.searchResult {
  background-color: var(--cl-gray-opacity-1);
  padding: 8px 12px;
  border-radius: 3px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--cl-white);
  margin-right: 12px;
}

.mapRightArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.zoomController {
  display: flex;
  flex-direction: column;
  margin-left: 8px;

  :global {
    .ant-btn {
      padding: 0 10px;
      height: 34px;
    }

    .ant-btn:first-child {
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
    }

    .ant-btn:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}

.mapRightBottom {
  align-items: flex-end;
  display: none;

  @include mediaquery-pc() {
    display: flex;
  }
}

.mapTypeDropdown {
  background-color: var(--cl-white);
  padding: 20px 15px;
  width: 140px;
  border-radius: 8px;

  :global {
    .ant-radio-wrapper {
      font-size: 16px;
      line-height: 20px;
      display: block;

      &:after {
        content: none;
      }
    }

    .ant-radio {
      vertical-align: middle;
      top: 0;
    }

    .ant-radio-inner {
      border: 2px solid var(--cl-gray-6);
      width: 20px;
      height: 20px;

      &:after {
        @extend %pos-centered;
      }
    }

    .ant-radio-checked .ant-radio-inner {
      border-color: var(--cl-blue-1);
      background-color: var(--cl-blue-1);

      &:after {
        background-color: var(--cl-white);
      }
    }
  }
}

.infoWindowWrapper {
  width: 320px;
  font-size: var(--font-size-xs);
}

.infoWindowtitle {
  font-weight: 700;
  font-size: var(--font-size-sm);
}

.infoWindowContentArea {
  margin: var(--space-2) 0;
  display: flex;
  gap: var(--space-2);
  line-height: 1.5;

  img {
    width: 100px;
  }

  b {
    font-weight: 600;
  }
}

.infoWindowlink {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-base);
}
