@import 'styles';

.mainContent {
  padding: calc(2 * var(--space-4)) var(--space-4);
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;

  :global {
    .ant-select {
      text-align: left;
      font-size: var(--font-size-sm);
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: var(--rounded);
      background-color: var(--cl-blue-6);
    }

    textarea.ant-input,
    .ant-input-affix-wrapper,
    .ant-input,
    .ant-picker {
      font-size: var(--font-size-md);
      padding: calc(2 * var(--space-1)) var(--space-4);
      border-radius: var(--rounded);
      background: var(--cl-blue-6);
      border-color: var(--cl-blue-5);
      font-weight: var(--font-light);
    }

    .ant-picker {
      width: 100%;
    }

    .ant-input-affix-wrapper {
      padding: 6px 16px;
    }

    .ant-form-item-explain {
      text-align: left;
      color: var(--cl-red-3);
      font-size: var(--font-size-xs);
    }

    .ant-collapse {
      width: 100%;
      text-align: left;
    }

    .ant-collapse-header {
      @extend %flex-center-vertical;
      justify-content: space-between;
      position: relative;
      font-size: var(--font-size-sm);
      font-weight: var(--font-semi-bold);
      color: var(--cl-primary) !important;

      &:before {
        display: none !important;
      }

      &:hover {
        opacity: 0.8;
      }

      span {
        order: 2;
        margin-left: var(--space-3);
        margin-right: 0 !important;
        color: var(--cl-primary);

        svg {
          font-size: var(--font-size-md);
        }
      }
    }

    .ant-collapse-item {
      span svg {
        transform: rotate(90deg);
      }

      &.ant-collapse-item-active span svg {
        transform: rotate(-90deg) !important;
      }
    }

    .ant-collapse-content-box a {
      display: block;
      margin-top: var(--space-2);
    }
  }
}

h1.heading {
  font-size: 33px !important;
}

.heading {
  margin-bottom: 16px !important;
}

.divider {
  background-color: var(--cl-gray-6);
}

.removeBtn {
  margin-bottom: 16px;
}

.removeBtn,
.addDateBtn {
  padding-left: 0;
}

.agreeCheckbox {
  margin-bottom: 16px;

  span {
    font-size: var(--font-size-xs);
  }
}

.checkboxGroup {
  :global {
    .ant-checkbox-group {
      column-count: 2;

      @include mediaquery-pc() {
        column-gap: 64px;
      }
    }

    .ant-checkbox-wrapper.ant-checkbox-group-item {
      display: flex;
    }
  }
}

.checkboxGroupTitle {
  margin-bottom: 8px;
  font-size: var(--font-size-sm);
  color: var(--cl-gray-6);
  font-weight: var(--font-semi-bold);
}

.mapModal {
  max-width: 100%;
  width: 100% !important;
  height: var(--full-view-height);
  top: 0;
  padding: 0;
  margin: 0;

  @include mediaquery-tb-base() {
    width: calc(100% - 96px) !important;
    height: calc(100% - 96px);
    margin: 0 auto;
    top: calc(var(--space-1) * 12);
  }

  :global {
    .ant-modal-content {
      height: 100%;
      overflow: hidden;

      @include mediaquery-tb-base() {
        border-radius: 8px;
      }
    }

    .ant-modal-body {
      height: 100%;
      padding: 0;
      overflow: hidden;
    }

    .ant-modal-close {
      top: calc(var(--space-1) * 7);
      right: var(--space-6);
      padding: 8px;
    }

    .ant-modal-close-x {
      width: 24px;
      height: 24px;
      font-size: var(--font-size-md);
      line-height: 1;
      color: var(--cl-blue-1);

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
