@import 'styles';

.searchWrapper {
  position: relative;

  :global {
    .ant-space.ant-space-vertical {
      width: 100%;

      @include mediaquery-tb() {
        width: 600px;
      }
    }
  }

  &.active {
    .search {
      @extend %flex-center-horizontal;
      box-shadow: 0 0 var(--space-4) rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--cl-white);
      padding: 12px 16px;
      z-index: 500;

      .logo {
        display: none;
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 25px;

        @include mediaquery-extra-tb() {
          display: block;
        }

        @include mediaquery-pc {
          width: 160px;
          height: 35px;
        }
      }

      :global {
        .ant-input {
          height: 32px;
          font-size: var(--font-size-md);
          width: calc(100vw - 80px);

          @include mediaquery-tb() {
            width: 448px;
          }

          @include mediaquery-pc() {
            width: 560px;
          }
        }
      }
    }
  }
}

.imgBackground {
  margin-top: calc(-1 * var(--header-height-mini));

  @include mediaquery-pc() {
    margin-top: calc(-1 * var(--header-height));
  }

  img {
    object-fit: cover;
    height: 440px;

    @include mediaquery-pc() {
      height: 584px;
    }
  }
}

.locationSearchWrapper {
  @extend %pos-centered;
  width: 100%;
  padding: 0 16px;

  @include mediaquery-pc() {
    padding: 0;
  }
}

.searchTitle {
  color: var(--cl-white);
  text-align: center;
  font-size: 26px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  font-family: var(--font-family-heading);

  @include mediaquery-extra-tb() {
    font-size: 36px;
  }
}

.search {
  .logo {
    display: none;
  }
}
