@import 'styles';

.explainWrapper {
  text-align: left;
  margin-bottom: 16px;

  .explainText {
    @extend %flex-center-vertical;
    gap: var(--space-1);
    margin-bottom: 0;
    font-size: var(--font-size-xs);
    color: var(--cl-blue-7);
    margin-top: var(--space-1);

    .checkIcon {
      color: var(--cl-green-2);
    }

    .wrongIcon {
      color: var(--cl-red-3);
    }
  }
}

.passwordInput {
  position: relative;

  :global {
    .ant-input {
      padding-right: calc(23 * var(--space-1));
    }

    .ant-progress-circle-trail {
      stroke: var(--cl-gray-bd-2);
    }
  }
}

.progressPassword {
  position: absolute;
  right: 0;
  top: 28px;
  padding: 0 var(--space-4);
  font-size: var(--font-size-xs);
  font-weight: var(--font-regular);
  display: flex;
  align-items: center;
  gap: var(--space-2);
  height: 44px;

  p {
    margin-bottom: 0;
  }
}
