@import 'styles';

.clickPopup {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--cl-white);
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  z-index: 1000;

  @include mediaquery-tb-base() {
    display: none;
  }

  &.isFloatMode {
    display: none;
    transform: translate(-50%, calc(-100% - 8px));
    width: 236px;
    bottom: unset;
    border-radius: 8px;
    box-shadow: rgb(107 119 128 / 18%) 0px 8px 16px 0px, rgb(59 65 68 / 5%) 0px 2px 4px 0px;

    @include mediaquery-tb-base() {
      display: block;
    }

    .imgContainer {
      padding: 0;
    }
  }

  b {
    display: block;
    font-weight: 700;
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-1);
  }
}

.clickPopupBody {
  padding: var(--space-2);
  font-size: var(--font-size-base);
}

.amenities {
  margin-bottom: var(--space-1);
  font-size: var(--font-size-base);

  svg {
    margin-right: calc(var(--space-1) / 2);
  }
}

.authorArea {
  padding-top: var(--space-2);
  margin-top: var(--space-2);
  border-top: 1px solid var(--cl-gray-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;

  button {
    padding: 0;
    height: auto;
    font-size: 11px;
  }
}

.imgContainer {
  display: block;
  padding: var(--space-2) var(--space-2) 0;

  &:hover {
    :global(.swiper-slide-active) img {
      transform: scale(1.1);
    }

    .btnRight,
    .btnLeft {
      display: block;
    }
  }
}

.swiper {
  position: relative;
  height: 160px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;

  :global {
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
      background-color: rgb(232, 233, 234);
      opacity: 1;
    }
  }

  img {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.btnLeft,
.btnRight {
  display: none;
  position: absolute;
  top: 80px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 1;
  background-color: transparent;
  border: 0;
  color: var(--cl-white);
  font-size: var(--font-size-xl);
}

.btnLeft {
  left: 0;
}

.btnRight {
  right: 0;
}
