@import 'styles';

.root {
  &.isDropdown {
    padding: 16px 12px;
  }
}

.formSection {
  margin-bottom: calc(5 * var(--space-1));

  .formSectionTitle {
    margin-bottom: var(--space-3);
    text-transform: uppercase;
    font-size: var(--font-size-md);
    font-weight: var(--font-semi-bold);
  }

  .formSectionSubTitle {
    margin-bottom: var(--space-3);
    padding-bottom: var(--space-2);
    border-bottom: 1px solid rgb(209, 209, 213);
  }

  .formSectionSpacing {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  &.inline {
    &.disabledChange {
      display: flex;
      align-items: center;
      margin-bottom: calc(5 * var(--space-1));

      .formSectionTitle {
        margin-bottom: 0;
        width: 150px;
      }

      .formSectionInlineBody {
        width: calc(100% - 150px);
      }
    }

    @include mediaquery-extra-tb {
      display: flex;
      align-items: center;
      margin-bottom: calc(5 * var(--space-1));
    }

    .formSectionTitle {
      @include mediaquery-extra-tb {
        margin-bottom: 0;
        width: 150px;
      }
    }

    .formSectionInlineBody {
      @include mediaquery-extra-tb {
        width: calc(100% - 150px);
      }

      :global {
        .ant-space {
          width: 100%;
        }

        .ant-space-item {
          flex: 1;
        }

        .ant-select,
        .ant-input-number {
          width: 100%;
        }
      }
    }
  }
}

.filterButtonWrapper {
  background-color: var(--cl-primary);
  padding: 18px 12px;
  text-align: right;
}

.filterButton {
  cursor: pointer;
  text-decoration: underline;
  font-size: var(--font-size-base);
  font-weight: var(--font-bold);
}
