@import 'styles';

.root {
  :global {
    table,
    .ant-table-container {
      border-radius: var(--rounded-md);
    }

    tbody td {
      vertical-align: middle;
      padding: 8px 16px;
      white-space: nowrap;
    }

    .ant-table-thead > tr > th {
      background-color: var(--cl-blue-6);
      font-weight: var(--font-semi-bold);
    }

    .ant-table-container table > thead > tr:first-child th:last-child {
      border-top-right-radius: var(--rounded-md);
    }

    .ant-table-container table > thead > tr:first-child th:first-child {
      border-top-left-radius: var(--rounded-md);
    }

    tbody > tr:last-child > td:last-child {
      border-bottom-right-radius: var(--rounded-md);
    }

    tbody > tr:last-child > td:first-child {
      border-bottom-left-radius: var(--rounded-md);
    }

    tbody tr:first-child td {
      &:last-child {
        border-top-right-radius: var(--rounded-md);

        @include mediaquery-pc() {
          border-top-right-radius: 0;
        }
      }
    }

    tr.ant-table-expanded-row > td {
      background-color: var(--cl-blue-6);
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right: none !important;
    }

    .ant-table-expanded-row.ant-table-expanded-row-level-1 td {
      padding-left: 0;
      padding-right: 0;
    }

    .ant-table-thead {
      display: none;

      @include mediaquery-pc() {
        display: table-header-group;
      }
    }
  }
}

.expandBtn {
  background-color: var(--cl-white);
  border: 1px solid var(--cl-gray-19);
  border-radius: var(--rounded-circle);
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.1s ease 0s, color 0.1s ease 0s, border-color 0.2s ease 0s, background-color 0.2s ease 0s;

  &:hover {
    outline: none;
    border-color: transparent;
    box-shadow: rgb(107 119 128 / 18%) 0px 8px 16px 0px, rgb(59 65 68 / 5%) 0px 2px 4px;
  }

  & > span {
    @extend %pos-centered;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.expandRow {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  white-space: normal;
  padding-bottom: 8px;

  @include mediaquery-pc() {
    max-width: inherit;
  }
}

.expandRowItem {
  width: 50%;
  padding: 4px 16px;

  @include mediaquery-pc() {
    width: calc((100% - 57px) / 4);
  }

  p:first-child {
    font-weight: var(--font-semi-bold);
  }
}

.action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.actionPrice {
  display: block;

  @include mediaquery-pc() {
    display: none;
  }
}

.expandDateColumn p {
  font-weight: var(--font-semi-bold);

  &:not(:first-child) {
    display: block;

    @include mediaquery-pc() {
      display: none;
    }
  }

  &:last-child {
    font-weight: inherit;
  }
}
