@import 'styles';

.locationSearch {
  border-radius: var(--rounded);
}

.searchBarInputWrapper {
  position: relative;

  :global {
    .ant-input-affix-wrapper,
    .ant-input {
      transition: none;
      box-shadow: none;
    }

    .ant-input-affix-wrapper {
      border-radius: var(--rounded);
    }

    .ant-input {
      height: 48px;
      font-size: var(--font-size-md);

      @include mediaquery-tb() {
        height: 58px;
      }
    }

    .ant-input-affix-wrapper > input.ant-input {
      padding-left: var(--space-4);
      padding-right: var(--space-4);
    }
  }
}

.searchItems {
  @extend %x-centered;
  width: calc(100% - 4px);
  background: var(--cl-white);
  z-index: 10;
  top: 100%;
  border-radius: var(--rounded);
  box-shadow: 0 0 var(--space-4) rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.searchItem {
  @extend %flex-center-vertical;
  padding-left: calc(3 * var(--space-2));
  padding-right: var(--space-3);
  cursor: pointer;
  transition: all 0.18s ease-in-out;

  &:hover {
    background-color: var(--cl-primary);

    svg {
      color: var(--cl-white);
    }

    .searchItemText {
      color: var(--cl-white);
    }

    .searchItemText {
      border-color: var(--cl-primary);
    }
  }

  &:last-child .searchItemText {
    border: 0;
  }

  svg {
    color: var(--cl-primary);
  }
}

.searchItemText {
  flex-basis: 100%;
  margin-bottom: 0;
  margin-left: var(--space-4);
  padding: var(--space-4) 0;
  border-bottom: 1px solid var(--cl-gray-5);
  color: var(--cl-gray-8);
  font-size: var(--font-size-md);
  transition: all 0.18s ease-in-out;
}

/* ----------------------- small size ---------------------------- */
.locationSearch.small {
  .searchBarInputWrapper {
    :global {
      .ant-input {
        height: unset;
        font-size: var(--font-size-xs);
        padding: 0;
      }

      .ant-input-affix-wrapper {
        padding: var(--space-1);
      }

      .ant-input-suffix svg {
        width: 20px;
        height: 20px;
        color: var(--cl-blue-1);
      }
    }
  }

  .searchItem {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
  }

  .searchItemText {
    padding: var(--space-3) 0;
  }
}
