@import 'styles';

.updatePassword {
  padding: var(--space-6) var(--space-2);
  max-width: 448px;
  margin: 0 auto;

  .title {
    font-family: var(--font-family-heading);
    text-align: center;
    font-size: var(--font-size-extra-xl);
    color: var(--cl-gray-11);
    font-weight: var(--font-semi-bold);
    margin-top: var(--space-2);
  }

  .subTitle {
    text-align: center;
    font-size: var(--font-size-md);
    color: var(--cl-gray-11);
    font-weight: var(--font-light);
  }

  :global {
    .ant-form-item-label label {
      font-size: var(--font-size-sm);
      font-weight: var(--font-semi-bold);
    }

    .ant-btn {
      width: 100%;
      height: 44px;
      border-radius: var(--rounded);
    }

    .ant-input {
      height: 44px;
      border-radius: var(--rounded);
      background-color: var(--cl-blue-6);
      width: 100%;
    }
  }

  .explainWrapper {
    margin-bottom: var(--space-8);
  }

  .explainText {
    @extend %flex-center-vertical;
    gap: var(--space-1);
    margin-bottom: 0;
    font-size: var(--font-size-xs);
    color: var(--cl-blue-7);
    margin-top: var(--space-1);

    .checkIcon {
      color: var(--cl-green-2);
    }

    .wrongIcon {
      color: var(--cl-red-3);
    }
  }
}

.passwordInput {
  position: relative;

  :global {
    .ant-input {
      padding-right: calc(23 * var(--space-1));
    }

    .ant-progress-circle-trail {
      stroke: var(--cl-gray-bd-2);
    }
  }
}

.progressPassword {
  position: absolute;
  right: 0;
  top: 31px;
  padding: 0 var(--space-4);
  font-size: var(--font-size-xs);
  font-weight: var(--font-regular);
  display: flex;
  align-items: center;
  gap: var(--space-2);
  height: 44px;

  p {
    margin-bottom: 0;
  }
}
